section.catalog
	.catalog__container.container 
		.catalog__top 
			.left-space
			h2.catalog__title.title 
				|Каталог  
				br
				span продукции
		.catalog__items 
			.catalog__row 
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/2.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Катанка
						a(href="").catalog__card-btn 
						img(src="images/catalog/3.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/2.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Катанка
						a(href="").catalog__card-btn 
						img(src="images/catalog/3.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Катанка
						a(href="").catalog__card-btn 
						img(src="images/catalog/3.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/2.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Катанка
						a(href="").catalog__card-btn 
						img(src="images/catalog/3.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Арматура
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				.catalog__item 
					.catalog__card 
						.catalog__card-name Труба
						a(href="").catalog__card-btn 
						img(src="images/catalog/1.png", alt="alt")
				
		button.catalog__show-more.btn Вся продукция
