section#feedback.feedback
	.feedback__container.container 
		.left-space 
		.form 
			h2.form__title.title 
				|Оставить 
				br
				span заявку
			form(action="" method="method")
				input.form__input(type="text" placeholder="Имя")
				input.form__input(type="tel" placeholder="Телефон")
				input.form__input(type="email" placeholder="Email")
				button.btn.form__btn(type='submit') Вся продукция
		.feedback__desc Оставьте свои контакты и мы свяжемся с вами, как можно скорее