section.hero
	.hero__top.top-block
		.container
			h1.hero__title.title 
				|Прокат, гибка, формование и резка 
				br
				span металла в Раменском
			.hero__swiper-arrows
				.swiper-arrow.swiper-arrow-prev
				.swiper-arrow.swiper-arrow-next
	.hero__swiper.swiper 
		.swiper-wrapper 
			.hero__slide.swiper-slide 
				.hero__img
					img(src="images/hero/1.png", alt="alt")
			.hero__slide.swiper-slide 
				.hero__img
					img(src="images/hero/1.png", alt="alt")
			.hero__slide.swiper-slide 
				.hero__img
					img(src="images/hero/1.png", alt="alt")