section#information.information
	.information__container.container 
		.information__items 
			.information__row 
				.information__item 
					.information__column 
						.information__name Оптовые цены
						.information__icon
							.information__icon-inner 
								img(src="images/information/1.png", alt="alt") 
						.information__desc Для физических лиц и организаций
				.information__item 
					.information__column 
						.information__name Доставка
						.information__icon
							.information__icon-inner 
								img(src="images/information/2.png", alt="alt") 
						.information__desc Оперативная доставка по МО
				.information__item 
					.information__column 
						.information__name Резка металла
						.information__icon
							.information__icon-inner 
								img(src="images/information/3.png", alt="alt") 
						.information__desc Осуществляем резку металла в размер
				.information__item 
					.information__column 
						.information__name Без выходных
						.information__icon
							.information__icon-inner 
								img(src="images/information/4.png", alt="alt") 
						.information__desc Работаем без выходных и праздников
				.information__item 
					.information__column 
						.information__name Способы оплаты
						.information__icon
							.information__icon-inner 
								img(src="images/information/5.png", alt="alt") 
						.information__desc Наличный и безналичный расчёт