footer#footer.footer
	.footer__container.container 
		.footer__top.top-footer 
			.top-footer__left.left-space
				a(href="").top-footer__logo 
					img(src="images/logo-white.png", alt="alt")
			.top-footer__body 
				.top-footer__tels 
					a(href="tel:9268444410") 
						span +7 (926) 
						|844-44-10
					a(href="tel:9264327022") 
						span +7 (926) 
						|432-70-22
				.top-footer__info 
					.top-footer__schedule 
						|Понедельник — Суббота 
						br
						|с 09-00 до 20-00
					.top-footer__address 
						|Московская 
						br
						|область,Раменское, 
						br
						|Дорожный проезд, д. 11
		.footer__bottom.bottom-footer
			.bottom-footer__left.left-space ram-mp2023
			.bottom-footer__center 
				.bottom-footer__menu.menu
					nav.menu__body
						ul.menu__list 
							li.menu__item 
								a.click.menu__link(href="#information") Преимущества
							li.menu__item 
								a.menu__link(href="") Прайс
							li.menu__item 
								a.click.menu__link(href="#footer") Контакты
			.bottom-footer__right 
				|Сделано 
				br
				|в MOCKUP.DIGITAL 