header.header
	.header__container.container
		.header__row 
			a(href="").header__logo 
				img(src="images/logo-black.png", alt="alt")
			.header__menu.menu 
				button.menu__burger 
					span
					span
					span
				nav.menu__body 
					ul.menu__list 
						li.menu__item
							a(href='#information').click.menu__link Преимущества
						li.menu__item.menu__item--price
							a.menu__link Прайс
							.header__submenu.submenu
								nav.submenu__body 
									.submenu__row
										ul.submenu__list 
											li.submenu__item.js-active 
												a.submenu__link(href="") Арматура
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Арматура
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Арматура
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Арматура
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Труба
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Труба
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Труба
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Труба
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Катанка
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Катанка
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Катанка
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
											li.submenu__item 
												a.submenu__link(href="") Катанка
												.submenu__item-image 
													img(src="images/header/steel.png", alt="alt")
													
										.submenu__empty-space
						li.menu__item
							a(href='#footer').click.menu__link Контакты
			.header__connection 
				a(href='tel:9268444410').header__tel +7 (926) 844-44-10
				a(href='#feedback').click.header__btn-send.btn Отправить заявку