extends ../layouts/default

block vars
	-
		const page = {
			title: 'main'
		};

block main
	include ../blocks/hero
	include ../blocks/information
	include ../blocks/catalog
	include ../blocks/feedback
